.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container{
  width: 92%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
}

.aside {
  background-color: #302C40; 
  border-radius: 20px;
  width: 100%;
  height: 90vh;
  margin: 5vh 0;
  overflow-y: auto;
}
.main {
  background-color: #302C40; 
  border-radius: 20px;
  width: 100%;
  height: 90vh;
  margin: 5vh 0;
  overflow-y: auto;
}


.add-padding{
  padding: 20px;
}


/* style scroolber */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
  margin: 20px 0;
  cursor: grabbing;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(221, 221, 221, 0.748); 
  border-radius: 20px;
  cursor: grabbing;
  margin: 20px 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff; 
  cursor: grabbing;
}
@media (max-width: 320px) {

  .container{
    position: inherit;
    grid-template-columns: 1fr;
  }

  /* media quary close line */
}